*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 992px) {
   
body{
    max-width: 1400px;
    place-content: space-around;
}
/** Header CSS **/
#header{
    position: static;
}
/** Banner **/
.header_banner{
    display: flex;
    place-content: space-between;
    max-height: 50px;
}

.landing_page_link{
    padding: 30px;
}

.landing_page_link>img{
    min-width: 96px;
    max-width: 96px;
}

.hook{
    display: flex;
    flex-direction: row;
    place-content: space-between;
}

.header_hook_link{
    list-style: none;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    min-height: 120px;
    max-height: 120px;
    width: 113px;
}

.header_hook_link:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

/** Title **/
.header_title{
    padding: 30px;
}

.header_title>h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.header_title>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/** Search field **/

.search_form{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.map_logo{
    background-color: #D9D9D9;
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #D9D9D9;
    text-align: center;
}

.search_field{
    background-color: #FFFFFF;
    padding-left: 5px;
    height: 49px;
    border: 1px solid #D9D9D9;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0;
}

.search{
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border: none;
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
}

/** Filters **/
.filters{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.filters_title{
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    padding: 0 30px;
    border: none;
}

.filter_button{
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.filter_button:hover{
    background-color: #DEEBFF;
}

/** Main CSS **/

#main{
    max-width: 100%;
    display: flex;
}

.title{
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

/** Housings grid **/

#housings{
    background-color: #F2F2F2;
    box-sizing: border-box;
    border-radius: 20px;
    height: 626px;
    max-width: 880px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

.card_main_grid{
    display: flex;
    flex-flow: wrap;
    place-content: space-between;
    background-color: #F0F0F0;
}

.card_main{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgb(208, 201, 201);
}

.subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.show_card_main_picture{
    height: 124px;
    width: 246px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/** Sponsored array **/

#popular{
    background-color: #F0F0F0;
    box-sizing: border-box;
    border-radius: 20px;
    height: 626px;
    max-width: 520px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_sponsored_array{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.sponsored{
    display: flex;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}


.show_card_sponsored_picture{
    height: 144px;
    min-width: 137px;
    max-width: 137px;
    padding: 5px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 5px rgb(208, 201, 201);
}

.info_card_sponsored{
    padding: 10px;
    max-height: 144px;
    width: 213px;
    background-color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px rgb(208, 201, 201);
}

/** Activity list **/

#activities{
    display: flex;
    flex-direction: column;
}

#activities>h2{
    padding: 20px 0 0 30px;
}

.activities_list{
    display: flex;
    flex-direction: row;
    place-content: space-between;
    padding: 30px;
}

.activity{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(208, 201, 201);
}

.activity>img{
    height: 300px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 20px;
}

.activity>h3{
    padding: 5px 0 0 10px
}

/** Footer **/

footer{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    place-content: space-around;
    padding: 20px 40px;
    list-style: none;
}

.footer_nav_list{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer_nav_list>h3{
    line-height: 30px;
}

.footer_nav_list>ul>li{
    list-style: none;
    line-height: 30px;
}

}
